@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');
body {
    font-family: 'Raleway', sans-serif;	
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(50, 50, 255, 0.836);
    padding: 0;
    color: white;
}
.header {
    padding: 1em;
}
.s1 h1 {
    font-size: 25px;
}
main {
    text-align: justify;
    padding: 1em;
}
.seccion {
    background-image: linear-gradient(rgb(244, 217, 96), white);
    line-height: 1.5em;
}
blockquote {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1em;
    margin-left: 0;
    margin-right: 0;
}
.nedst {
    background-color: rgba(50, 50, 255, 0.836);
    margin: 0;
    padding: 1em;
    color: white;
}
.topnav {
    color: white;
}
.dl {grid-area: dl;}
.innri {grid-area: innri;}
.ytri {grid-area: ytri;}
a {color: rgb(115, 255, 0);}
a:hover {color: pink}

@media screen and (min-width: 37.5em) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "dl innri ytri";
    }
}

@media screen and (min-width: 48em) {
    main {
        text-align: justify;
        padding: 1em;
        grid-gap: 15px;
        max-width: 60em; margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 60em) {
    .header {
        max-width: 60em; margin: 0 auto;
    }
    footer {
        max-width: 60em; margin: 0 auto;
        display: grid;
        grid-gap: 10em;
    }
    main {
        grid-gap: 30px;
    }
    .topnav {
        margin-left: 50em;
    }
    .verkefni {
        margin-left: 54em;
    }
}