body{text-align:left;width:800px;}
h1{color:DarkGreen;}
h2{color:DarkRed;}
strong{color:DarkRed;}
em{color:blue;}
b{color:DarkBlue;}
a{color:green;}
a:visited{color:purple;}
a:hover{color:orange;}
a:active{color:green;}
a{color:DarkBlue;}
body{font-family:courier;)